    
@{
    ViewData["Title"] = "Index";
    var _danhMuc = (IList<ShopV1.Models.DanhMuc>)ViewBag.danhmuc;
    var _menu = (IList<ShopV1.Models.DanhMuc>)ViewBag.con;
}

<h1>Index</h1>
@foreach (var item in _danhMuc)
{

    <div>@item.Id.</div>
    <div>@item.Ten</div>
}
